/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
  #wrap{
            width:1200px;
            margin:0 auto;
        }
 
        #concernHeading{
            float:right;
            height: 37px;
            margin-top:-25px;
            padding-right:400px;
        }
 
        #topPage{
            height:37px;
            border:solid;
        }
 
        #logo{
            height:37px;
            float:left;
            padding-left:40px;
            padding-right:40px;
            border-right:solid;
        }
 
 
        #personConcern{
            padding-top:10px;
            float:left;
            width:597px;
            height:60px;
            border-left:solid;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #staffCompletedForm{
            padding-top:10px;
            float:right;
            width:600px;
            height:60px;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #dateDiv{
            float:left;
            width:597px;
            height:40px;
            padding-top:10px;
            border-left:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #contactInfo{
            float:right;
            width:600px;
            height:50px;
            border-left:solid;
            border-bottom:solid;
            border-right:solid;
            border-width:1px;
        }
 
        #whoComplainTo{
            padding-top:10px;
            float:left;
            width:597px;
            height:60px;
            border-top:solid;
            border-left:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #reasonConcern{
            padding-top:10px;
            float:left;
            width:600px;
            height:60px;
            border-top:solid;
            border-left:solid;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #detailedConcern{
            padding-top:10px;
            float:left;
            width:597px;
            height:90px;
            border-left:solid;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #actionConcern{
            padding-top:10px;
            float:right;
            width:600px;
            height:90px;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #dropDownListMade{
            padding-top:10px;
            float:left;
            width:597px;
            height:60px;
            border-left:solid;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #dropDownListRelationship{
            padding-top:10px;
            float:right;
            width:600px;
            height:60px;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
 
        #resolvedOutcomeDiv{
            padding-top:10px;
            float:left;
            width:1198px;
            height:90px;
            border-top:solid;
            border-right:solid;
            border-bottom:solid;
            border-left:solid;
            border-width:1px;
        }
 
        #whoSaved{
            float:left;
            width:597px;
            height:80px;
            border-right:solid;
            border-bottom:solid;
            border-left:solid;
            border-width:1px;
        }
 
        #dateResolvedDiv{
            float:right;
            width:600px;
            height:80px;
            border-right:solid;
            border-bottom:solid;
            border-width:1px;
        }
